@use "../../scss/utils/mixins";
@use "../../scss/utils/colors";

.paste {

}
.paste__title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.paste__description {
  font-size: 2rem;
  margin-top: 3rem;
}

.paste__content {
  position: relative;
  border: .1rem solid colors.get(blue);
  border-radius: 2rem;
}

.paste__copy {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.paste__link {
  display: inline-block;
  margin-top: 5rem;
  color: colors.get(white);
  cursor: pointer;
  margin-left: auto;
  padding: 1rem 2rem;
  user-select: none;

  border-radius: 100000rem;

  font-size: 2rem;
  font-weight: 600;

  // todo: mixin for animated box-shadow
  background-color: colors.get(blue);

  border: .3rem solid transparent;
  box-shadow: 0 0 transparent;
  transition: .3s cubic-bezier(0, 0, .5, 1);

  &:hover,
  &:focus, &:focus-visible {
    box-shadow: 0 0 0 .5rem colors.get(blue, .5);
    outline: none;
  }

  &:active {
    box-shadow: 0 0 0 .0rem colors.get(red, .5);
    background-color: colors.get(red);
  }

  &:disabled {
    opacity: .4;
    background-color: colors.get(blue);
    pointer-events: none;
  }
}