@use "../../../scss/utils/colors";

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.form__label {
  width: 100%;

  &:has(.form__mainInput) {
    position: relative;
    margin-bottom: 2rem;
    border-bottom: .3rem solid transparent;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .1rem;
      background-color: colors.get(white, .5);
      transition: .2s cubic-bezier(0, 0, .5, 1);
      transition-property: height, background-color, bottom;
      border-radius: 10000000px;
    }
  }

  &:has(.form__mainInput:hover)::after {
    height: .25rem;
    bottom: -.15rem;
  }

  &:has(.form__mainInput:focus)::after, &:has(.form__mainInput:focus-visible)::after {
    background-color: colors.get(blue);
    height: .25rem;
    bottom: -.15rem;
  }
}

.form__input {
  width: 100%;
  background-color: colors.get(black);
  border-radius: 2rem;
  padding: 2rem;

  border: .3rem solid transparent;
  box-shadow: 0 0 0 .1rem colors.get(white, .5);
  transition: .2s cubic-bezier(0, 0, .5, 1);
  transition-property: box-shadow;

  &:hover {
    box-shadow: 0 0 0 .3rem colors.get(white, .5);
  }

  &:focus, &:focus-visible {
    box-shadow: 0 0 0 .3rem colors.get(blue, 1);
    outline: none;
  }


  &_description {
    resize: none;
  }

  &_content {
    resize: none;
    font-family: 'JetBrains Mono', monospace;
  }

}

.form__mainInput {
  width: 100%;
  background-color: colors.get(black);
  font-size: 4rem;
  font-weight: 900;
  border: 0;
  border-bottom: .1rem solid transparent;
  padding-bottom: .4rem;

  &:focus, &:focus-visible {
    outline: none;
  }

}

.form__submit {
  cursor: pointer;
  margin-left: auto;
  padding: 1rem 2rem;
  user-select: none;

  border-radius: 100000rem;

  font-size: 2rem;
  font-weight: 600;

  background-color: colors.get(blue);

  border: .3rem solid transparent;
  box-shadow: 0 0 transparent;
  transition: .3s cubic-bezier(0, 0, .5, 1);

  &:hover,
  &:focus, &:focus-visible {
    box-shadow: 0 0 0 .5rem colors.get(blue, .5);
    outline: none;
  }

  &:active {
    box-shadow: 0 0 0 .0rem colors.get(red, .5);
    background-color: colors.get(red);
  }

  &:disabled {
    opacity: .4;
    background-color: colors.get(blue);
    pointer-events: none;
  }

}


.form__error {
  width: 100%;
  border: .3rem solid transparent;
  color: colors.get(red)
}

